<app-filters (details)="showCentreDetails($event)"></app-filters>

<div class="container">
    <hr/>
    <mat-card>
      <span class="cust_head">
        <mat-icon>view_list</mat-icon>
    <h2>Centre Details</h2>
    </span>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z4" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
      <!-- ID Column -->
    <ng-container matColumnDef="centername">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Name"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Address"> {{element.address}}  </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="block_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Block </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Block"> {{element.block_name}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="fee">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Charges </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Charges"> {{element.fee}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="available_capacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Available </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Available"> {{element.available_capacity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="min_age_limit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Min Age  </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Min Age"> {{element.min_age_limit}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vaccine">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Vaccine </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Vaccine"> {{element.vaccine}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;">
      </mat-row>
    </mat-table>
      
      
      </mat-card>
</div>
