.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 10px;
  }

  .example-small-box {
    width: 100%;
    background-color: white;
  }
  
  .example-large-box {
    width: 100%;
    background-color: white;
  }
  mat-card {
      background-color: floralwhite;
  }

  .example-form-field {
      padding-top: 14px;
  } 
